@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 36 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 100% 95%;
    --secondary-foreground: 36 80% 25%;
    --muted: 40 33% 94%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 45 100% 80%;
    --accent-foreground: 36 80% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 88%;
    --input: 40 20% 90%;
    --ring: 36 100% 50%;
    --radius: 0.8rem;
    --sidebar-background: 40 33% 96%;
    --sidebar-foreground: 20 14.3% 15%;
    --sidebar-primary: 36 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 36 100% 50%;
    --sidebar-border: 40 20% 88%;
    --sidebar-ring: 36 100% 50%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 40 33% 98%;
    --card: 20 14.3% 6.1%;
    --card-foreground: 40 33% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 40 33% 98%;
    --primary: 36 100% 50%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 36 100% 10%;
    --secondary-foreground: 40 33% 98%;
    --muted: 24 5.4% 12%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 45 100% 80%;
    --accent-foreground: 36 80% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 5.4% 12%;
    --input: 24 5.4% 12%;
    --ring: 36 100% 50%;
    --sidebar-background: 20 14.3% 6.1%;
    --sidebar-foreground: 40 33% 98%;
    --sidebar-primary: 36 100% 50%;
    --sidebar-primary-foreground: 20 14.3% 4.1%;
    --sidebar-accent: 20 14.3% 10.1%;
    --sidebar-accent-foreground: 40 33% 98%;
    --sidebar-border: 24 5.4% 12%;
    --sidebar-ring: 36 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
